:root {
  --color-primary: #2F8A9E;
  --color-primary-dark: #1E4851;
  --color-primary-light: #fff;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: var(--color-primary-light);
  font-family: 'Lato', sans-serif;
  color: #fff;
  transition: all .5s;
}
