* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 62.5%;
}