.header {
  display: flex;
  align-items: center;
  margin-top: 3rem;

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-primary-dark);
  }
  &__title {
    font-size: 30px;
    font-weight: 300;
    color: var(--color-primary-dark);
  }
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__location {
    font-size: 3rem;
    font-weight: 300;
    color: var(--color-primary);
    margin-top: 1rem;
  }

  &__info {
    width: 40rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-icon {
      height: 16rem;
      width: 16rem;
    }

    &-temp {
      font-size: 5rem;
      font-weight: 300;
      color: var(--color-primary);
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--text {
      font-size: 3rem;
      color: var(--color-primary);
    }

    &--minmax {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      color: var(--color-primary-dark);

      p {
        padding: 0.5rem;
      }

      &__icon {
        height: 3rem;
        width: 1rem;
        fill: var(--color-primary-dark);
        margin: 1rem;
      }
    }
  }
}

// LOADER

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  z-index: 99;
}

.cloud {
  padding: 10px;
}

#cloud1 {
  animation: cloud1 1.5s ease-in infinite;
}

#cloud2 {
  animation: cloud2 2.5s ease infinite;
}

@keyframes cloud1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloud2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}

// DARLMODE TOGGLE
.darkmode {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;

  &__text {
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-primary);
  }
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 20px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-primary);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

// FORECAST

.forecast__nav {
  display: flex;
  list-style: none;
  border-radius: 1rem;
  background-color: #17bce0;
  padding: 0.5rem;
}

.day {
  display: flex;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 1rem;
  flex: 1;
  font-size: 1.4rem;
  padding: 10px 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.forecast__nav li:hover {
  background-color: var(--color-primary-dark);
  border-radius: 1rem;
  transform: translateY(-2px);
}

.forecast__nav li:active {
  transform: translateY(0);
}

.forecasts__container {
  display: flex;
  flex-direction: column;
}

.forecast__weather {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: #2EA7E0;

  &__date {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--color-primary-dark);
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      display: flex;
      align-items: center;
    }
    &--icon {
      height: 7rem;
      width: 7rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--phrase {
        font-size: 1.8rem;
        color: var(--color-primary-dark);
      }

      &--minmax {
        color: var(--color-primary-dark);
        font-size: 1.4rem;
      }
    }

    &__temp {
      font-size: 3rem;
      color: var(--color-primary-dark);
    }
  }
}
