.dark {
  background-color: var(--color-primary-dark);

  & .darkmode {
    &__text {
      color: var(--color-primary-light);
    }
  }

  & .header {
    &__icon {
      fill: var(--color-primary-light);
    }
    &__title {
      color: var(--color-primary-light);
    }
  }

  & .weather {
    background: var(--color-primary);
    &__location {
      color: var(--color-primary-light);
    }

    &__info {
      color: var(--color-grey-dark-1);
    }

    &__detail {
      color: var(--color-primary-dark);
    }
    &__icon {
      fill: var(--color-grey-dark-1);
    }
  }

  & .forecast {
    &__header {
      color: var(--color-primary-light);
    }
    &__nav {
      background-color: var(--color-primary-dark);
    }
    &__day {
      color: var(--color-primary);
    }
    &__item {
      background-color: var(--color-primary);
    }

    &__name {
      color: var(--color-primary-light);
    }

    &__details {
      color: var(--color-primary-light);
    }
  }
}
