.container {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.weather-container {
  width: 55rem;
  height: 30rem;
  background: var(--color-primary-light);
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  margin-top: 3rem;
}