.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: #fff;
  }
  &__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
  }
}

.weather {
  margin-top: 4rem;
}

.weather__container {
  width: 30rem;
  height: 50rem;
  background: #dae3fd;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  max-width: 25rem;

  &__input {
    font-family: inherit;
    font-size: 2rem;
    color: #000;
    background-color: #f4f2f2;
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -4.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc;
    }
  }

  &__input:focus + &__button {
    background-color: #f0eeee;
  }

  &__button {
    border: none;
    background-color: #f4f2f2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: #ccc;
  }
}
